/*顶部*/
#topBar {
    background-color: #FBFBFB;
}

#topBar .topBarLogo {
    width: 131px;
    height: 55px;
    float: left;
    margin-top: 5px;
}

#topBar .topBarLogo a {
    background: url("../images/logo_b5525b7.png") no-repeat;
    display: inline-block;
    width: 131px;
    height: 43px;
    text-indent: -20000px;

}
#topBar .topBanner{
    height: 55px;
    width: 420px;
    background: url("../images/pic9d0b.jpg") no-repeat;
}

.main #bigBanner{
    height: 250px;
    width: 960px;
    background: url("../images/pic197c.jpg") no-repeat;
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -625px;
    z-index: 5;
}

#topBar .fr li {
    float: left;
    line-height: 55px;
    margin-left: 28px;
}

#topBar .dir-li {
    position: relative;
    margin-right: 25px;
}

#topBar .dir-li a {

    color: #BC2E2E;
}

#topBar .fr em {
    background: url("../images/sprite-w_7fc7459.png") -103px -100px no-repeat;
    position: absolute;
    width: 9px;
    height: 5px;
    top: 25px;
    right: -15px;
}

/*主体部分开始*/
.main {
    height: 988px;
    background: url("../images/bg01_9680ee9.jpg") no-repeat 50%;
}

.nav {
    height: 988px;
    /*background-color: pink;*/
}

.taozhuang {
    height: 988px;
    width: 298px;
    float: left;
    position: relative;
    background-color: rgba(0,0,0,.5);
}

.taozhuang .tzup {
    display: block;
    height: 560px;
}

.tzup img {
    position: absolute;
    top: 188px;
}

.tzdown {
    display: block;
    height: 428px;
}

.wuqi {
    height: 988px;
    width: 298px;
    margin-left: 1px;
    float: left;
    position: relative;
    background-color: rgba(0,0,0,.5);
}

.wqup {
    display: block;
    height: 560px;
}


.wqup img {
    position: absolute;
    top: 188px;
}

.wqdown {
    display: block;
    height: 428px;
}

.pifeng {
    height: 988px;
    width: 298px;
    margin-left: 1px;
    float: left;
    position: relative;
    background-color: rgba(0,0,0,.5);
}

.pfup {
    display: block;
    height: 560px;
}

.pfup img{
    position: absolute;
    top: 188px;
}

.pfdown {
    display: block;
    height: 428px;
}

.shipin {
    height: 988px;
    width: 298px;
    float: left;
    margin-left: 1px;
    position: relative;
    background-color: rgba(0,0,0,.5);
}

.spup {
    display: block;
    height: 560px;
}

.spup img{
    position: absolute;
    top: 188px;
}

.spdown {
    display: block;
    height: 428px;
}

/*主体部分结束*/

/*底部开始*/
.footer{
    height: 230px;
    background-color: #000000;
}
.bx{
    width: 949px;
    margin: 0 auto;
}
.footer-pic{

}
.footer-pic ul{
    padding-top: 23px;
}
.footer-pic li{
    float: left;
    padding: 0 10px;
}

.footer-pic .footer-right{
    margin-top: 25px;
    width: 142px;
    height: 28px;
    background-color: #610000;
    float: right;
    color: white;
    position: relative;
}
.footer-pic .footer-right a{
    color: white;
    font-size: 12px;
    line-height: 28px;
    padding-left: 2px;
}
.footer-pic .footer-right s{
    font: 17px/28px consolas;
    position: absolute;
    top: -2px;
    right: 6px;
}
.footer-pic .footer-right i{
    width: 12px;
    height: 17px;
    position: absolute;
    top: 2px;
    right: -5px;
    overflow: hidden;
}
.footer .footer-ser li{
    color: #939393;
    float: left;
    line-height: 28px;
    padding: 0 2px;
}
.footer .footer-ser a{
    color: #E23A3F;
}
.footer .footer-copy{
    color: #939393;
    line-height: 20px;
}
.footer .footer-note{
    color: #939393;
    margin-top: 10px;
}
.footer .footer-note p {
    line-height: 23px;
}
.footer .footer-bottom{
    margin-top: 6px;
}
.footer .footer-bottom .bota{
    color: #E23A3F;
    margin-right: 10px;
}
.footer .footer-bottom .botb{
    color: #939393;
}
/*底部结束*/